<%= simple_form_for(@blog_address,:html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	
    <%= f.input :blogadd , :label => "Enter Blog Url" ,:placeholder => "https://Someblogs.com" %> 
    
  </div>

  <div class="btn btn-primary ">
    <%= f.button :submit %>
  </div>
<% end %>
