
<p>
  <h3 class ="text-info">Blog Address:</h3>
  <a href = <%= @blog_address.blogadd %>><%= @blog_address.blogadd.first(30) %></a>
</p>




<%= link_to 'Edit', edit_blog_address_path(@blog_address) %> |
<%= link_to 'Back', blog_addresses_path %>
